.confirmation-dialog{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75vh;
    z-index: 500;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.confirmation-dialog.closed{
    transition: all 1s ease;
    display: none;
}
.confirmation-dialog.closed div{
    transition: all 1s ease;
    transform: translateY(-150%);
    /* display: none; */
} 
.confirmation-dialog.open{
    transition: all 1s ease;
    display: flex;
}
.confirmation-dialog.open div{
    transition: all 1s ease;
    transform: translateY(0);
}
.confirmation-dialog div{
    transition: all 1s ease;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    background-color: #f7f7f7;
    padding: 4rem;
    border-radius: 12px;
}
.confirmation-dialog button{
    border: 1px solid #254051;
}
.confirmation-dialog button:hover{
    border: 1px solid #254051;
    background-color: #f7f7f7;
    color: #254051;
}
@media(max-width:750px){
    .confirmation-dialog{
        height: 70vh;
    }
    .confirmation-dialog div p{
        font-size: 1rem;
    }
}
@media(max-width:550px){
    .confirmation-dialog{
        height: 65vh;
    }
}
@media(max-width:450px){
    .confirmation-dialog div{
        padding: 2rem 2rem;
    }
    .confirmation-dialog p{
        font-size: 0.85rem;
    }
    .confirmation-dialog button{
        font-size: 0.85rem;

    }
}