.event{
    width: 30%;
    border: 1px solid #254051;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    border-radius: 10px;
}
.event img{
    width: 100%;
    object-fit: cover;
}
.event h3{
    font-size: 1.5rem;
}
.event h4{
    font-size: 1.1rem;
    font-style: italic;
}
.event-detail-btn{
    width: auto;
    padding: 0.5rem;
    background-color: #f7f7f7;
    border: 1px solid #254051;
    color: #254051;
    border-radius: 6px;
    font-size: 1rem;
    transition: all 0.2s ease;
}
.event-detail-btn:hover{
    background-color: #254051;
    color: #f7f7f7;
}
@media(max-width:950px){
    .event h3{
        font-size: 1.1rem;
    } 
}
@media(max-width:780px){
    .event{
        width: 45%;
    }
}
@media(max-width:600px){
    .event{
        width: 100%;
    }
    .event h3{
        font-size: 0.7rem;
    }
    .event h4{
        font-size: 0.7rem;
    }
    .event-detail-btn{
        font-size: 0.8rem;
    }
}