.upcoming-events{
    padding: 2rem 0;
    padding-bottom: 2rem;
    margin: 0 4rem;
    color: #254051;
}
.upcoming-events h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.upcoming-events h3{
    font-size: 1.2rem;
    font-weight: 300;
}
.events-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.upcoming-events button{
    width: 120px;
    background-color: #f7f7f7;
    color: #254051;
    border: 1px solid #254051;
    padding: 0.5rem;
    margin: 3rem auto;
    margin-bottom: 0;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.upcoming-events button:hover{
    background-color: #254051;
    color: #f7f7f7;
}
@media(max-width:800px){
    .upcoming-events h1{
        font-size: 2rem;
    }
    .upcoming-events h3{
        font-size: 0.9rem;
    }
}

@media(max-width:500px){
    .upcoming-events{
        margin: 0 1rem;
    }
}
@media(max-width:450px){
    .upcoming-events h1{
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .upcoming-events h3{
        font-size: 0.75rem;
    }
    .events-container{
        margin-top: 1.5rem;
    }
}